NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/flower_store

# Redis
REDIS_URL="redis://localhost:6379"


# Cloudinary
CLOUD_NAME=your_cloud_name_here
API_KEY=your_api_key_here
API_SECRET=your_api_secret_here
API_ENVIRONMENT_VARIABLE=CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
APP_NAME=flower_store

# Hashing
SALT_ROUNDS=10

# Encryption
ENCRYPT_KEY=your_encrypt_key_here

# JWT
JWT_SECRET=your_jwt_secret_here

# Redis URL
REDIS_URL=redis://localhost:6379

# stripe 
secret_stripe=sk_test_51Rdu842K0COeAK4zdoeMMXcX74QNZ48oUBdFxprgXQEUm2XBFhaJXu6jDIj2yDLGax6PW9nGwyZxhGQzWf0MY3CZ00zhClhIIQ
cancel_url=http://localhost:5000
success_url=http://localhost:5000

stripe_webhook_signin_secret=whsec_PLHx9Gx4ubNYdqV2SG8uxZDqRfjQmGNG