NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/flower_store
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=

# Hashing
SALT_ROUNDS=10

# Encryption
ENCRYPT_KEY = secret_ENCRYPT_kjdalkdasjldad