NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/flower_store

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Cloudinary
CLOUD_NAME=your_cloud_name_here
API_KEY=your_api_key_here
API_SECRET=your_api_secret_here
API_ENVIRONMENT_VARIABLE=CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
APP_NAME=flower_store

# Hashing
SALT_ROUNDS=10

# Encryption
ENCRYPT_KEY=your_encrypt_key_here

# JWT
JWT_SECRET=your_jwt_secret_here

# Redis URL
REDIS_URL=redis://localhost:6379

